# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# SPM
.build/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# CocoaPods (caso use no futuro)
Pods/

# Misc
*.ipa
*.dSYM.zip
*.dSYM
